.mystyle{
    color:blue;
}

.mystyle2{
    color:red;
}

.spolcek{
    float:right;
    margin-right: 15px;
}

.tvit{
     text-align: center;
     color: white;
     background-color: #1dcaff;
}

.facebook{
    color: white;
     background-color: royalblue;
}

.ITM{
    position:relative;
    top:20px;
    right:0px;
    font-size: small;
}


#preberiPredlogoBolnika option { color: #4c4c4c; }

.button{
    display: none;
    font-weight: bold;
}

/*#Gumb{
    display:none;
}*/
